<#@ Dsl processor="DslDirectiveProcessor" requires="fileName='..\..\Dsl\DslDefinition.dsl'" #>
<#
	// CmdSet Guid must be defined before master template is included
	// This Guid must be kept synchronized with the CommandSetId Guid in Constants.tt
	Guid guidCmdSet = new Guid ("42437613-8d86-4d39-b696-605a8b01bfeb");
#>
<#@ include file="DslPackage\GeneratedVSCT.tt" #>
