<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <clear />
		<add key="Nuget.Org" value="https://api.nuget.org/v3/index.json" />
        <add key="MiniStoreDotnetAzureDevOps" value="https://pkgs.dev.azure.com/jsoto25/MaestriaSPLE/_packaging/MiniStoreDotnet/nuget/v3/index.json" />
        <add key="MiniStoreDotnetGitHub" value="https://nuget.pkg.github.com/TotemApps/index.json" />
    </packageSources>
</configuration>