<#@ Dsl processor="DslDirectiveProcessor" requires="fileName='..\..\Dsl\DslDefinition.dsl'" #>
<#
	// CmdSet Guid must be defined before master template is included
	// This Guid must be kept synchronized with the CommandSetId Guid in Constants.tt
	Guid guidCmdSet = new Guid ("ea2390d5-186c-42b1-be23-d5348d7ac701");
#>
<#@ include file="DslPackage\GeneratedVSCT.tt" #>
