<#@ template debug="true" hostspecific="false" language="C#" #>
<#@ assembly name="System.Core" #>
<#@ import namespace="System.Linq" #>
<#@ import namespace="System.Text" #>
<#@ import namespace="System.Collections.Generic" #>
<#@ output extension=".html" #>

<#
	String title = "Hello World T4 Template";
#>
<html>
	<head>
		<title><#= title #></title>
	</head>
	<body>
		<h1><#= title #></h1>
	</body>
</html>